* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbe3d2;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  margin: 10px 0;
  color: #381204;
}

.titleScreen,
.boardScreen {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all 1s ease-out;
}

.titleHidden,
.boardScreenHidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
.scrollbarHidden {
  overflow: hidden;
}
h2,
.startButtonContainer {
  align-self: center;
  margin: 20px 0;
}
.playerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.cardMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.difficultyContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  opacity: 1;
  transition: all 1s ease-out;
}
.difficultyHidden {
  visibility: hidden;
  opacity: 0;
}
.difficultyContainer button:nth-last-child(1) {
  position: relative;
  color: #38120400;
}

.difficultyContainer button:nth-last-child(1)::before {
  content: url("./images/skull.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.difficultyContainer button.active {
  background-color: #a14625;
}
.difficultyContainer button.active:hover {
  background-color: #c87050;
}
.difficultyContainer button.active:active {
  background-color: #db8a6c;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 250px;
  color: rgb(255, 251, 240);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #381204;
  position: relative;
}
.card .name,
.card .sign {
  font-size: 1.1rem;
  font-weight: 600;
}
.card .name {
  padding: 12px 0;
}
.card .sign {
  padding: 10px 20px 35px 15px;
}
.imageCard {
  width: 250px;
}
.imageCard img {
  width: 100%;
  height: auto;
}
button {
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: rgb(255, 251, 240);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: all 0.3s ease;
}
.choosePlayer,
.chooseBot {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  width: 50%;
}
.choosePlayer {
  left: 0;
  border-radius: 0 0 0 25px;
  border-right: 3px solid #381204;
}
.chooseBot {
  right: 0;
  border-radius: 0 0 25px 0;
}
.active {
  background-color: #ff9e75;
}
.card button:hover {
  background-color: #ffc2a8;
}
.card button.active:hover {
  background-color: #ff773d;
}
.card button.active:active,
#startGameBtn:active {
  background-color: #fcb292;
}
.startButtonContainer {
  margin-top: 40px;
}
#startGameBtn {
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 1.3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.4s ease;
}
#startGameBtn:hover {
  transform: translateY(-5px);
  background-color: #ff9e75;
}

.boardScreen {
  align-items: center;
}

h3,
.roundCounter {
  margin: 20px;
  font-size: 1.5rem;
}
.boardGrid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
}
.boardCell {
  border-radius: 25px;
  font-size: 2rem;
  transition: all 0.4s ease;
  color: #bbbbbb;
}
.boardCell:hover {
  background-color: #ffc2a8;
  transform: scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.boardCell:active,
.card button:active {
  background-color: #feecdb;
}
.xColor {
  color: #778132;
}
.oColor {
  color: #ff9a9a;
}
.gameControlsContainer {
  display: flex;
  gap: 25px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.controlsContainer button,
.startNewRound,
.difficultyContainer button {
  background-color: #381204;
  padding: 15px 15px;
  font-size: 0.8rem;
  border-radius: 25px;
  color: rgb(255, 251, 240);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.controlsContainer button:hover,
.startNewRound:hover,
.difficultyContainer button:hover {
  background-color: #692911;
  transform: translateY(-5px);
}
.controlsContainer button:active,
.startNewRound:active,
.difficultyContainer button:active {
  background-color: #a24c2d;
}
.scoreBoard {
  font-size: 1.1rem;
}
footer {
  margin: 20px;
  text-align: center;
}
footer a {
  color: #381204;
  transition: all 0.3s ease 0s;
}
footer a:hover {
  color: #ff9142;
}
@media (max-width: 767px) {
  .cardMenu {
    flex-direction: column;
  }
  .difficultyContainer {
    flex-direction: row;
  }
}
